POSTGRES_URL=postgres://neondb_owner:npg_WUZIPRrx10yd@ep-soft-sunset-a2z1q0uk-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_URL_NON_POOLING=postgres://neondb_owner:npg_WUZIPRrx10yd@ep-soft-sunset-a2z1q0uk.eu-central-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-soft-sunset-a2z1q0uk-pooler.eu-central-1.aws.neon.tech
POSTGRES_PASSWORD=npg_WUZIPRrx10yd
POSTGRES_DATABASE=neondb